# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
.idea/
*.swp

# Proje özel klasörleri
model/
vbler/
dataset/
test_input/